torch
torchvision
torchaudio
torchmetrics
lightning
selfcheckgpt
openai
transformers==4.36.2
sentencepiece
sacremoses
pandas
numpy
tqdm
lxml
nltk
newspaper3k
spacy>=3.3.3
pydantic>=1.10.8
sentence-transformers
hdbscan
numba
scipy
scikit-learn
umap-learn
wandb
google-search-results
